.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 84px;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 110px;

}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}